.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
  width: 100%;
}

.navbar-dark {
  background-color: #901cad;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #510e5a);
  margin-bottom: 2rem;
  min-height: 8rem;
}